#Comment
#
sse_client_mac_address="ca:fe:ca:fe:ca:fe"
sse_timeout_secs=45
req_listen_ip=0.0.0.0
radius_packet_encoding=base64/binary
#you can use space as delimiter
auth_graph_api https://graph.expresswifi.com/v3.0/radius/authorization?access_token=XWF%7C1367701616635002%7C75966c91c8e3cac7aa2a12e316d13422
acct_graph_api=https://graph.expresswifi.com/v3.0/radius/accounting?access_token=XWF%7C1367701616635002%7C75966c91c8e3cac7aa2a12e316d13422
coa_ack_graph_api=https://graph.expresswifi.com/v3.0/radius/coa_response?access_token=XWF%7C1367701616635002%7C75966c91c8e3cac7aa2a12e316d13422
coa_sse_api=https://streaming-graph.facebook.com/xwf_coa_subscribe?access_token=XWF%7C1367701616635002%7C75966c91c8e3cac7aa2a12e316d13422
auth_port=1812
acct_port 1813
coa_port 3799

# 1 (default) = CoA relayed to req_listen_ip (single AP / WAC)
# 2           = CoA relayed to NAS-Ip-Address (multi-AP support)
coa_ip_address_source 1
